body{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #221f1f;
    text-align: center;
    line-height: 1.4;
    background-color: ghostwhite;
}

.main-page-name {
    font-family: 'Metal Mania', Tahoma, sans-serif;
}

